*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 76px;
    height: 76px;
    /* background: #444; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.icon i{
    font-size: 40px;
    color: #ff0000;
}

.outerCircle{
    position: absolute;
    background-color: transparent;
    border: 8px solid rgba(97, 82, 72, 0.9);
    width: 130px;
    height: 130px;
    opacity: 0.9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 100px;
    margin: 0 auto;
    -moz-animation: spinPulse 3s infinite ease-in-out;
    -webkit-animation: spinPulse 3s infinite ease-in-out;
}

.innerCircle{
    position: absolute;
    background-color: transparent;
    width: 92px;
    height: 92px;
    border: 5px solid rgba(189, 215, 60, .6);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 100px;
    opacity: 0.9;
    margin: 0 auto;
    -moz-animation: spinOffPulse 1s infinite linear;
    -webkit-animation: spinOffPulse 1s infinite linear;
}

.innerCircle:nth-child(2){
    width: 60px;
    height: 60px;
    -moz-animation: spinOffPulse2 1s infinite linear;
    -webkit-animation: spinOffPulse2 1s infinite linear;
}

@-moz-keyframes spinPulse{
    0%{
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #bdd73c;
    }
    50%{
        -moz-transform: rotate(145deg);
        opacity: 1;
        
    }
    100%{
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinPulse{
    0%{
        -moz-transform: rotate(160deg);
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #bdd73c;
    }
    50%{
        -moz-transform: rotate(145deg);
        transform: rotate(145deg);
        opacity: 1;
        
    }
    100%{
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-moz-keyframes spinOffPulse{
    0%{
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    
    }
}

@-webkit-keyframes spinOffPulse{
    0%{
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    
    }
}

@-moz-keyframes spinOffPulse2{
    0%{
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    
    }
}

@-webkit-keyframes spinOffPulse2{
    0%{
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg);
    
    }
}